@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(45deg, #4fc3f7, #0093c4 );
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container * {
    margin: 10px;
    color: #fce4ec;
}

.container h1 {
    font-size: 3em;
}
.weatherInfo {
    font-size: 1.5em;
}